[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=2425efa2-afff-4f19-9aff-c36f812bfe0d
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
