[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[LayoutSettings]
activities={0}
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=2425efa2-afff-4f19-9aff-c36f812bfe0d
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=false
version=2
